<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contractor_category.name %>
</p>

<%= link_to 'Edit', edit_contractor_category_path(@contractor_category) %> |
<%= link_to 'Back', contractor_categories_path %>
