<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @waste_system.name %>
</p>

<%= link_to 'Edit', edit_waste_system_path(@waste_system) %> |
<%= link_to 'Back', waste_systems_path %>
