<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee_skill.name %>
</p>

<%= link_to 'Edit', edit_employee_skill_path(@employee_skill) %> |
<%= link_to 'Back', employee_skills_path %>
