<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_subcategory.name %>
</p>

<%= link_to 'Edit', edit_job_subcategory_path(@job_subcategory) %> |
<%= link_to 'Back', job_subcategories_path %>
