<div class="section container">
    <div class="row">
    	<div class="col s12 m8 offset-m2 l8 offset-l2 ">
			<h5>Editing Expense</h5>
		</div>
	</div>

<%= render 'form' %>

<div class="row">
		<div class='col s4 '>
			<div class="modal-action modal-close waves-effect waves-green btn center-align">
			<%= button_to 'Back', expenses_path, method: :get %>
			</div>
		</div>
		<div class='col s4 '>
			<div class="modal-action modal-close waves-effect waves-green btn center-align">
			<%= button_to 'Show', @expense, method: :get %>
			</div>
		</div>
		<div class="col s4">
			<div class="modal-action modal-close waves-effect waves-green btn center-align">
				<%= button_to 'Destroy', @expense, method: :delete, data: { confirm: 'Are you sure?' } %> 
			</div>
		</div>

	</div>
</div>		
