<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @water_source.name %>
</p>

<%= link_to 'Edit', edit_water_source_path(@water_source) %> |
<%= link_to 'Back', water_sources_path %>
